@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Ribeye&family=Rubik+Iso&display=swap');
@import "tailwindcss";

@theme{
    /* --color-primaryHvid: #f1efe9; */
    --color-buttonGul: #fdf39f;
    --color-bgBlue: #C7E8FF;
    --color-pixiBlue: #49ACFC;
    --font-overskrift: "Rubik Iso";
    --font-breadFont: "Peralta";
}

body{
    background-color: var(--color-bgBlue);
}