---
const { baggrundsbillede } = Astro.props;
---

<div class="relative">
  <div
    class="fixed inset-x-0 h-screen z-[-1] flex justify-center pointer-events-none select-none "
    aria-hidden="true"
  >
    <img src={baggrundsbillede} alt="" class="h-screen object-cover" />
  </div>
</div>
