---
import Folders from '../components/Folders.astro';
---

<div class="relative">
  <div class="fixed inset-x-0 top-[180px] -z-1 flex justify-center pointer-events-none select-none hidden lg:flex"
    aria-hidden="true">
    <img src="/Computer/computer_05.png" alt="" class="w-6xl max-w-none"/>
  </div>
  <Folders />
</div>
