---
import Folders from '../components/Folders.astro';
import BigPixi from '../components/big_pixi.astro';

---

<div class="relative mt-0 lg:mt-5">
  <BigPixi />
  <div class="fixed inset-x-0 top-[235px] -z-1 flex justify-center pointer-events-none select-none hidden lg:flex"
    aria-hidden="true">
    <img src="/Computer/computer_05.png" alt="" class="w-6xl max-w-none"/>
  </div>
  <Folders />
</div>
