---
---
<div class = "grid grid-cols-2 gap-5 p-5">
    <img src="/Folders/folder_01.png" alt="" />
    <img src="/Folders/folder_02.png" alt="" />
    <img src="/Folders/folder_03.png" alt="" />
    <img src="/Folders/folder_04.png" alt="" />
    <img src="/Folders/folder_05.png" alt="" />
    <img src="/Folders/folder_06.png" alt="" />
</div>