---
import Mappe from '../components/mappe.astro';
---
<div class="grid justify-center">
    <div class = "grid grid-cols-2 lg:grid-cols-3 lg:gap-10 lg:mt-20 gap-5">
        <Mappe mappen = "/Folders/folder_01.png" teksten = "Variable" linket="/variable"></Mappe>
        <Mappe mappen = "/Folders/folder_02.png" teksten = "If betingelser" linket="/if-betingelser"></Mappe>
        <Mappe mappen = "/Folders/folder_03.png" teksten = "Loops" linket="/loops"></Mappe>
        <Mappe mappen = "/Folders/folder_04.png" teksten = "Funktioner" linket="/funktioner"></Mappe>
        <Mappe mappen = "/Folders/folder_05.png" teksten = "Arrays" linket="/arrays"></Mappe>
        <Mappe mappen = "/Folders/folder_06.png" teksten = "Objekter" linket="/objekter"></Mappe>
    </div>
</div>