---
import Mappe from '../components/mappe.astro';
---
<div class="grid justify-center">
    <div class = "grid grid-cols-2 lg:grid-cols-3 lg:gap-10 lg:mt-20 gap-5">
        <Mappe mappen = "/Folders/folder_01.png" teksten = "DOM hvad?" linket="/bane1"></Mappe>
        <Mappe mappen = "/Folders/folder_02.png" teksten = "Basic JavaScript" linket="/bane1"></Mappe>
        <Mappe mappen = "/Folders/folder_03.png" teksten = "Noget med variabler" linket="/bane1"></Mappe>
        <Mappe mappen = "/Folders/folder_04.png" teksten = "Hvilke funktioner?" linket="/bane1"></Mappe>
        <Mappe mappen = "/Folders/folder_05.png" teksten = "For-loops" linket="/bane1"></Mappe>
        <Mappe mappen = "/Folders/folder_06.png" teksten = "console.log" linket="/bane1"></Mappe>
    </div>
</div>