---
import Mappe from '../components/mappe.astro';
---
<div class="grid justify-center">
    <div class = "grid grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 lg:mt-15 p-5">
        <Mappe mappen = "/Folders/folder_01.png" teksten = "DOM hvad?" ></Mappe>
        <Mappe mappen = "/Folders/folder_02.png" teksten = "Basic JavaScript" ></Mappe>
        <Mappe mappen = "/Folders/folder_03.png" teksten = "Noget med variabler" ></Mappe>
        <Mappe mappen = "/Folders/folder_04.png" teksten = "Hvilke funktioner?" ></Mappe>
        <Mappe mappen = "/Folders/folder_05.png" teksten = "For-loops" ></Mappe>
        <Mappe mappen = "/Folders/folder_06.png" teksten = "console.log" ></Mappe>
    </div>
</div>