---
import FooterNav from '../components/footer_nav.astro';
---
<div class="z-2">
    <FooterNav teksten="Hej, mit navn er Pixeline! Hvor er det fedt, at du vil med mig videre på vores kodeeventyr. Nu hvor du allerede har lært lidt om, hvordan man tænker som en programmør, skal vi prøve nogle nye udfordringer sammen. Du kommer til at bygge små programmer, løse logiske gåder og opdage, hvordan kode kan få verden omkring os til at reagere. Klar til at trylle med tastaturet og vise, hvad du kan? Så lad os komme i gang!"></FooterNav>
</div>