---
import Logo from '../components/logo.astro';
---
<div class = "grid justify-items-center mt-0 lg:mt-10">
        <a href="." class="cursor-pointer">
                <Logo></Logo>
        </a>
        
</div>

