---
---
<div class = "grid justify-items-center">
    <div class = "w-120 p-5 font-overskrift text-4xl hover:opacity-50">
        <a href="." class = "grid justify-items-center">
            <img src="/Pixeline_wordmark.png" alt="" />
            <h2> Pixeline lærer at kode</h2>
        </a>
    </div>
</div>

