---
import Knap from '../components/knap.astro';
import Boks from '../components/boks.astro';
---

<div>
    <Boks teksten="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." hojden="240"></Boks>
    <div class="mt-5">
        <Knap linket="/spil" teksten="Start spillet"></Knap>
    </div>
</div>