---
import Boks from '../components/boks.astro';
---

<div>
    <Boks teksten="Velkommen til Pixelines kodeeventyr! Her skal du lære at tænke som en rigtig programmør, mens du hjælper Pixeline og hendes venner med at løse sjove opgaver og mysterier i den digitale verden." hojden="210"></Boks>
    <div class="mt-5">
    </div>
</div>