---
const { teksten } = Astro.props;
---

<div class="transition-opacity duration-200 hover:opacity-50 bg-buttonGul border-3 border-solid rounded-2xl font-overskrift text-4xl p-2 pr-4 pl-4 cursor-pointer">{teksten}</div> 