---
import Logo from '../components/logo.astro';
---

<div class="grid justify-center lg:mt-25">
    <div class="grid lg:grid-cols-2 justify-center items-center">
        <Logo></Logo>
        <img src="/Pixeline/pixeline_05.png" alt="" width="400px" class="lg:ml-5 ml-13">
    </div>
</div>


<!-- <div class="relative">
  <div class="fixed inset-x-0 w-full -z-1 flex justify-center pointer-events-none select-none hidden lg:flex"
    aria-hidden="true">
    <img src="/Rooms/room_2.png" alt="" class="w-full"/>
  </div>
</div> -->